---
layout: default
title: Home
---
<div class="default-intro">
  <p>
    Pork strip steak turducken leberkas, pork chop corned beef chicken jerky. Andouille short loin beef pork belly porchetta doner. Ham turkey capicola landjaeger alcatra beef ribs spare ribs pork. Strip steak landjaeger tri-tip andouille. Bacon ham pig venison cow, jowl drumstick pastrami kevin pork kielbasa tongue flank. Frankfurter ground round spare ribs ball tip cow strip steak. Biltong ball tip tenderloin pig, andouille ham hock short loin bresaola tri-tip pastrami turducken venison short ribs spare ribs.
  </p>
</div>

<h1>Recent Posts:</h1>
<hr>
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    {{ post.content | strip_html | truncatewords: 25 }}
  </div>
  {% endfor %}
</div>


<div class="pagination">

  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
</div>


	<div class="row">
        <div class="col-lg-12">
        <br><br>
          <p class="pull-right"><a href="http://www.bootply.com">Template from Bootply</a> &nbsp; ©Copyright 2013 ACME<sup>TM</sup> Brand.</p>
        <br><br>
        </div>
    </div>
