---
layout: default
title: Home
---
<div class="default-intro">
  <p>Once I asked my mentor how to be a great dev:</p>
  <blockquote>
    <ol>
      <li>Ship code.</li>
      <li>Ship code.</li>
      <li>Ship code.</li>
    </ol>
  </blockquote>
  <p>So I learned to ship code.</p>
  <!--<p>

    Hi there!
    <br />
    I am a Ruby on Rails developer from sunny Southern California who ships codes. There are three stages of shipping codes: Knowledge stage, Application stage, and Review stage.
  </p>
  <p>At the start of the project, I plan ahead the steps that will be required to get to finish product. This includes prototyping on Sketch, outlining daily tasks based on finished product, and reading the relevant documentations, articles, and SO posts.

  <p>
    Tell how I got to code.
    Tell how I study
    Tell what I am studying
    Tell some of my interests
    Tell about my family


    This site is where I share my learning related to Ruby and Javascript and post personal projects. Occasionally I write about something else.

    Thanks for dropping by!
    Due tomorrow, do tomorrow.

    There in

    I am a Ruby on Rails developer from sunny Southern California (except it has been raining a lot this month). I ship codes.
    Every month, on odd weeks, I am learning something new about rails; on even weeks, I discover something new pertaining to Javascript (currently React). Every
    [Bloc](bloc.io) is responsible for my love to rails.
    Some side projects I have done include
    I ship code.

    I have learned Ruby on Rails. Currently I am meddling with ReactJS.
    I am currently part of [Riverside Ruby Meetup](https://www.meetup.com/Riverside-Ruby-User-Group/).
    I am part of Bloc's immersive full stack program where I learned the <a href="http://www.in-n-out.com/">in-n-out</a>'s of Ruby on Rails.
    As part of front end, I learned vanilla JS by building bloc-jams (link), which afterwards I completely refactored (link) to learn angularJS. My first public app, and also my second angularJS app is pomodoro timer (link). Other people was able to point out things that I was not able to see before.

    Meanwhile, while you are here, enter the address of your location and enjoy some donut~

  </p>-->
</div>

<h1>Recent Posts:</h1>
<hr>
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    {{ post.content | strip_html | truncatewords: 25 }}
  </div>
  {% endfor %}
</div>


<div class="pagination">

  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
</div>



<div class="email-button">
  <a href="mailto:letsmailiggy@gmail.com" class="email-text">
    <i class="fa fa-envelope" aria-hidden="true"></i> Email Me
  </a>
</div>
