---
layout: default
title: Home
---

<!--

<h1>Projects:</h1>
{% include project_display.html %}

<div class="default-intro">
  <p>Once I asked my mentor how to be a great dev:</p>
  <blockquote>
    <ol>
      <li>Ship code.</li>
      <li>Ship code.</li>
      <li>Ship code.</li>
    </ol>
  </blockquote>
  <p>So I learned to ship code.</p>

</div>

-->

<p>
  My first exposure to computing was when my dad bought a Windows 95 computer.
  I still remember when my cousin came to visit and created a Lycos email and our elementary school's favorite game was Oregon Trail.
</p>

<p>
  Ah, the nostalgia.
</p>
<p>
  My first exposure to  programming language was when I was in sixth grade learning Visual Basic.
  Over the years, I was taught C and C++ in High School and Python in College. After I finished college, I self-taught myself Ruby and Javascript.
  I joined <a href="https://codepen.io/iggPen/">codepen</a> to learn more about HTML/CSS/JS and was blown away by what CSS/JS can do together.
</p>

<p>
  My current technology stack is Ruby on Rails and React.
  I use React-Native for mobile developments.
  I am experienced with Angular, Ember, and vanilla JS as well.
  Check out my <a href="https://codepen.io/iggPen/codepen">codepen</a> or <a href="https://igghub.github.io/projects/">projects</a> page to see what I have done.
</p>

<p>
  If you have a small project in mind, <a href="mailto:igor.irianto@gmail.com">get in touch</a> and maybe your next coffee is on me!
</p>

<h1>Recent Posts:</h1>
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post-card">
    <div class="content post-title">
      <a href="{{ post.url }}" class="post-link">
        {{ post.title }}
      </a>
    </div>
    <div class="content post-date">
      {{ post.date | date_to_string }}
    </div>
    <div class="content post-content">
      {{ post.content | strip_html | truncatewords: 25 }}
    </div>
  </div>
  {% endfor %}
</div>


<div class="pagination">

  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
</div>



<div class="email-button">
  <a href="mailto:igor.irianto@gmail.com" class="email-text">
    <span><i class="fa fa-envelope" class="email-icon" aria-hidden="true"></i></span> Email Me
  </a>
</div>
