<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
<!-- figure out how to dynamically search for all the .html files and list them on sidebar! -->
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/about">About</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/projects">Projects</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/tags">Tags</a>
    <!--<a class="sidebar-nav-item" href="{{ site.baseurl }}/links">Links</a>-->
    <span class="sidebar-nav-item">v{{ site.version }}</span>
  </nav>

  <div class="sidebar-item">
    <p class="social-icons">
        <a href="https://www.linkedin.com/in/igor-irianto-7b942b69"><i class="fa fa-linkedin fa-3x"></i></a>
        <a href="https://www.facebook.com/Iggyishere"><i class="fa fa-facebook fa-3x"></i></a>
        <a href="https://github.com/igghub"><i class="fa fa-github fa-3x"></i></a>
      </p>
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
