
$skillsBg:#5193FE;


.sidebar .social-icons a {
  color: rgba(255, 255, 255, 0.6);
  padding-right: 0.75em;
  text-align: center;
}

.button-resume {
  position: absolute;
  background: red;
  width: 10%;
  height: 10%;
}
