---
# styling for most pages
---
@charset "utf-8";
@import "bootstrap";
@import "project_index";


.project-title {
  font-weight: bold;
  font-size: 175%;
  padding: 0px 0px 0px 0px;
}

.project-content {
  padding-bottom: 20px;
}

.header-font {
  text-align: center;
}

.header-nav {
  letter-spacing: 1.5px;
  word-spacing: 20px;
  text-transform: uppercase;
  padding-top: 30px;
}

/*Fixed Bottom-Right Email Button*/

.mac {
  background: #dc2e2e;
}

.email-button {
  position: fixed;
  bottom: 35px;
  right: 35px;
  background: #6099f6;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  opacity: 0.85;
  display: Flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}
.email-button:hover {
  height: 60px;
  width: 160px;
  .email-text {
    font-size: 20px;
    text-decoration: none;
  }
}

.email-text {
  color: #ffffff;
  font-size: 16px;
  transition: all 0.5 cubic-bezier(.25, .8, .25, 1);
}

/* END Email Button */

/* Blog post */

.post-card {
  background: #fff;
  border-radius: 2px;
  height: 200px;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  box-shadow: 0 1px 3px rgba(0,0,0,0.50);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  overflow: scroll;
}

.post-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}

.content {
  padding: 3px 15px;
}

.post-title {
  font-weight: 500;
  font-size: 28px;
}

.post-link {
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.post-link:hover {
  font-size: 40px;
  text-decoration: none;
}

/* end blog post CSS */


/* project post */

.project-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
}
.project-card {
  background: #ffffff;
  border-radius: 2px;
  margin: 1rem auto;
  max-width: 400px;
  width: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.36);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.project-card:hover {
  box-shadow: 7px 14px 28px rgba(0,0,0,0.25);
}

.project-margin {
  margin: 5px 10px;
}

.project-card-image {
  min-height: 50px;
  margin-bottom: 0.5rem;
}

.project-card-image img {
  width: 100%;
  max-width: 100%;
  display: block;
  border-radius: 2px 2px 0 0;
}

img {
  background: #ECECEC;
}

.project-card-technology {
  font-size: 14px;
  line-height: 20px;
  color: #bbb;
  display: flex;
  flex-direction: column;

}

.project-card-title {
  font-size: 30px;
  font-weight: 800;
}

.linky {
  color: #666;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.linky:hover {
  font-size: 36px;
  text-decoration: none;
}

.project-card-content {
  font-size: 16px;
}

.text {
  flex: 1;
  text-decoration: none;
  color: #3498DB;
  font-size: 16px;
  margin: 0px 5px;
}

.text:hover {
  text-decoration: none;
}
/* end project post CSS */

/* Codepen embed codes */
.cp_embed_wrapper {
  /* required for resize to work */
  overflow: hidden;

  /* make resizeble! */
  resize: both;

  /* required to see the handle */
  background: white;
  padding-bottom: 10px;

  /* default height */
  height: 500px;
  width: 500px;
}
.cp_embed_wrapper iframe {
  height: 100% !important;
}

/* end codepen */

/* masonry */
* { box-sizing: border-box; }

/* ---- grid ---- */

.grid {
  max-width: 1200px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 150px;
  height: 150px;
  float: left;
  background: #D26;
  border-radius: 5px;
  margin: 10px;
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.grid-item:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}
.grid-franken-breakfast {
  width: 400px; height: 150px;
}
.grid-iphone-x {
  width: 270px; height: 200px
}
.grid-eclipse {
  width: 240px; height: 165px;
}
.grid-prescription {
  width: 285px; height: 125px
}
.grid-hammer {
  width: 177px ; height: 132.6px;
}
.grid-captain {
  width: 120px; height: 150px;
}
.grid-chickfila {
  width: 206.1px; height: 130.8px;
}
.grid-double-apple{
  width: 140px; height: 180px;
}
.grid-elephant {
  width: 208px; height: 115.6px;
}
.grid-frankestein {
  width: 214.4px; height: 97.6px;
}
.grid-honey {
  width: 190px; height: 180px;
}
.grid-sandwich {
  width: 157.6px; height: 122.4px;
}
.grid-notification {
  width: 204px; height: 139.8px;
}
.grid-cog {
  width: 150px; height: 120px;
}
.grid-thor {
  width: 158.4px; height: 140.8px;
}

/* end masonry */
