<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}


  <body class="layout-reverse">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <div class="header-font">
              <div class="header-image"><img style=";width:100px;border-radius:50%;margin:auto;display:block" src="{{ site.baseurl  }}/assets/images/iggy_square.jpg"></div>
              <div>
                <a class="header-title" href="{{ site.baseurl }}/" title="Home" style="font-weight:900">{{ site.title }}</a>
              </div>
              <div class="header-sub-title">
                <small>
                  {{ site.tagline }}
                </small>
              </div>
              <div class="header-nav">
                <a href="{{ site.baseurl }}/">Home</a>
                <a href="{{ site.baseurl }}/projects">Projects</a>
                <!--<a href="{{ site.baseurl }}/posts">Posts</a>-->
                <!--<a>Sketches</a>-->
                <a href="{{ site.baseurl }}/resume">Resume</a>
              </div>
            </div>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <!-- masonry and imagesLoaded -->
    <!-- masonry: https://masonry.desandro.com/ -->
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

    <!-- imagesLoaded -->
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script>
      var $grid = $('.grid').imagesLoaded( function() {
        $grid.masonry({
          itemSelector: '.grid-item',
          percentPosition: true,
          columnWidth: '.grid-sizer'
        });
      });

    </script>
    <!-- end masonry and imagesLoaded -->



    <!-- sidebar toggle -->
    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
    <!-- END sidebar -->

    <!-- displaying total comments https://help.disqus.com/customer/portal/articles/565624-adding-comment-count-links-to-your-home-page#non-link-elements -->
    <!--    <script id="dsq-count-scr" src="//https-igghub-github-io.disqus.com/count.js" async></script>-->
  </body>
</html>
